@model MapsGuides.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.return_url">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="email"></label><br />
        <input asp-for="email" />
        <span asp-validation-for="email"></span>
    </div>
    <div>
        <label asp-for="password"></label><br />
        <input asp-for="password" />
        <span asp-validation-for="password"></span>
    </div>
    <div>
        <label asp-for="remember_me"></label><br />
        <input asp-for="remember_me" />
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>