@model MapsGuides.Models.DotModel

@{
    ViewData["Title"] = "Поставить метку";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SetDot</h1>

<h4>Dot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-antiforgery="true" asp-action="SetDot" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user" class="control-label"></label>
                <input asp-for="user" class="form-control" />
                <span asp-validation-for="user" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" type="tel" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" type="email" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category_id"></label>
                <select asp-for="category_id" asp-items="ViewBag.Categoryes"></select>
            </div>
            <div class="form-group">
                <label asp-for="time_open" class="control-label"></label>
                <input asp-for="time_open" class="form-control" type="time" />
                <span asp-validation-for="time_open" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time_close" class="control-label"></label>
                <input asp-for="time_close" class="form-control" type="time" />
                <span asp-validation-for="time_close" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thumb" class="control-label"></label>
                <input type="file" name="thumbFile" class="form-control-file" />
                <span class="text-danger">@ViewBag.FileStatus</span>
            </div>
            <div class="form-group">
                <label asp-for="website" class="control-label"></label>
                <input asp-for="website" class="form-control" type="url" />
                <span asp-validation-for="website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="latitude" class="form-control" type="hidden" value="@Model.latitude" />
            </div>
            <div class="form-group">
                <input asp-for="longitude" class="form-control" type="hidden" value="@Model.longitude" />
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Map</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
